@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300;400;600&display=swap');
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

main {
  margin-top: 20px;
}
